@import "bootstrap";
@import "~vue-material/dist/vue-material.min.css";
@import "~vue-material/dist/theme/default.css";
@import "material-dashboard/material-dashboard";
@import "~flexboxgrid-sass/flexboxgrid";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans');

.admin-sidebar a p {
  text-transform: initial;
}

.wrapper {
  max-width: unset;
}

.list-move {
  transition: transform $defaultTransitionDuration;
}

.sortable-ghost {
  z-index: 10;
  box-shadow: $commentBoxShadowActive;
}

.main-panel {
  float: unset;
  width: auto;
  margin-left: 300px;
}

.list-items-container {
  padding: 0;
  background: whitesmoke;
  border-radius: $borderRadius;
  border: 1px solid transparentize(black, 0.8);
  list-style: none;
  & li {
    padding: 20px;
    display: block;
    border-bottom: 1px solid transparentize(black, 0.8);
    margin: 0;
    &:last-of-type {
      border-bottom: none;
    }
  }
}
