@import "bootstrap";

body {
  background: $backgroundColor;
}

main.container {
  margin-top: $mainContainerMarginTop;
}

.main-navigation .language-picker {
  align-self: center;
  margin-right: 1rem;
  &:last-of-type {
    margin-right: 0;
  }
}

ul.pagination {
  margin: 0;
}