@import "bootstrap";

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans');

body {
  background: $backgroundColor;
}

body,
p {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Montserrat', 'Roboto', sans-serif;
  font-weight: 500;
}

.modal.show {
  cursor: default;
}

#app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main.container {
  margin-top: $mainContainerMarginTop;
  flex: 1;
}

nav.navbar.main-navigation {
  background: $primary-light;
  box-shadow: $commentBoxShadow;
  position: sticky;
  top: 0;
  width: 100%;
  height: $navbarHeight;
  z-index: 1;
}

.modal {
  z-index: 100;
}

.modal-dialog {
  position: relative;
  z-index: 101 !important;
}

.page-item.active .page-link {
  z-index: 0;
}

.main-navigation .language-picker {
  align-self: center;
  margin-right: 1rem;
  &:last-of-type {
    margin-right: 0;
  }
}

ul.pagination {
  margin: 0;
}

footer {
  position: relative;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  background: $primaryGradient;
  & .language-selector {
    margin-top: .75rem;
  }
  &:after {
    position: absolute;
    transform: skewY(-3deg);
    content: '';
    width: 100%;
    height: 60px;
    top: -30px;
    background: $primaryGradient;
    @include breakpoint(tablet) {
      top: -65px;
      height: 130px;
    }
  }

}