$navbarHeight: 80px;

$mainContainerMarginTop: $navbarHeight + 20;

$defaultTransitionDuration: .3s;

$borderRadius: 4px;

$primaryGradient: linear-gradient(to right, lighten($primary, 10%), $primary);

$imageBoxShadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
$commentBoxShadow: 0 15px 35px rgba(50, 50, 93, 0.01), 0 5px 15px rgba(0, 0, 0, 0.05);
$commentBoxShadowActive: 0 15px 35px rgba(50, 50, 93, 0.08), 0 5px 15px rgba(0, 0, 0, 0.15);
$imageBoxShadowRaised: 0 1rem 3rem rgba(0,0,0,.175);

$backgroundColor: whitesmoke;